<hr/>
<nav>
	{{- $isregular := (in .Site.RegularPages .Page) -}}
	{{- $title := .Title -}}
	{{- with .Site.Params.email -}}
	{{- if $isregular }}<p class="reply-to">[<a href="mailto:{{ . }}?subject=RE: {{ $title }}">↰ Reply-to</a>]</p>{{ end }}
	{{- end -}}
	<p>
	{{- if .IsHome }}{{ else }}<a href="/"><img src="/images/badges/advait.png" alt="{{ .Site.Title }}" title="{{ .Site.Title }}"></a> {{ end -}}
	{{- $count := 0 -}}
	{{ with .Site.Params.links }}
		{{- range $key, $value := . }}
		{{ if gt $count 0 }}~{{ end }}
		[<a href="{{ $value | safeURL }}">{{ $key }}</a>]
			{{- $count = add $count 1 -}}
		{{- end }}
	{{- end }}
	{{- if (not $isregular) -}}
	{{ partial "buttons.html" . }}
	{{- end }}
	</p>
</nav>
